h2 {
  margin: 0 0 12px 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 0 12px 0;
  display: grid;
  gap: 10px;
}

.card {
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 12px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 12px 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data {
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 12px 14px;
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.name {
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 12px 12px;
  font-weight: 600;
  margin-bottom: 15px;
  display: grid;
}

.muted {
  color: #666;
  font-size: 12px;
}

.btn {
  background: white;
  border: 1px solid #ddd;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
}
.btn:hover {
  background: #f3f3f3;
}

.image {
  max-width: 100%;
}

.footer {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 12px;
  height: 36px;
}
